<html>
<head>
<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

<div id="headline"> Bork BnB </div>
<br>

<h3> <%= @space %> </h3>

<h2><form action='/listings' method='post'>
  Title? <input type='text' name='title'>
  <br>
  <br>
  <center>
  <button id="button1"> List your Bork </button>
</center>
</form></h2>


<div class="content">Bork BnB is owned by Bible Borkers Inc.</div>
<footer>Est. 2018</footer>

</body>
</html>
