<html>

<head>
<link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
<div id="headline"> Bork BnB </div>
<br>

<center>
<div style="font-family: courier; font-size 20px">
<ul><% @spaces.each do |space| %>
  <dl id="title_output"><%= space[:title] %></dl>
  <dl><%= space[:description] %></dl>
    <br>
  <% end %>
</ul>
</div>
</center>

<br>

<a href="/spaces/new" style="font-family: courier">List your Bork!</a>

</body>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br>
<div class="content" style="font-family: courier">Bork BnB is owned by Bible Borkers Inc.</div>
<br>
<footer style="font-family: courier">Est. 2018</footer>

</body>
</html>
