<html>

<head>
<link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
<div id="headline"> Bork BnB </div>
<br>

<ul><% @spaces.each do |space| %>
  <li><%= space %> </li>
  <% end %>
</ul>

<br>
<h2><form action='/spaces' method='post'>
  Title: <input type='text' name='title'>    <button id="button1"> List your Bork! </button>
</form></h2>
</body>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br>
<div class="content">Bork BnB is owned by Bible Borkers Inc.</div>
<br>
<footer>Est. 2018</footer>

</body>
</html>
