<html>

<head>
<link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
<div id="headline"> Bork BnB </div>
<br>

<center>
<div style="font-family: courier; font-size 20px">
<ul><% @spaces.each do |space| %>
  <dl id="title_output" style="font-weight: bold"><%= space[:title] %></dl>
  <dl id="description_output"><%= space[:description] %></dl>
  <form action="/bookings/new>">Book</form>
    <br>
  <% end %>
</ul>
</div>
</center>

<br>

<center>
<a href="/spaces/new" style="font-family: courier; font-size: 25px; background-color: AliceBlue; padding: 10px; border-style: solid">List your Bork!</a>
</center>

</body>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br>
<div class="content" style="font-family: courier">Bork BnB is owned by Bible Borkers Inc.</div>
<br>
<footer style="font-family: courier">Est. 2018</footer>

</body>
</html>
