<html>

<head>
<link rel="stylesheet" type="text/css" href="new.css">
</head>

<body>

  <div id="navbar" >
  <a href="/spaces"> Home | </a>
  <a href="/requests">Requests</a>
  </div>

  <div id="headline"> Enter details to list your space: </div>
  <br>

<h2 style="font-family: courier"><form action='/spaces' method='post'>
  Title: <input type='text' name='title'>
  <br>
    <br>
  Description: <input type='text' name='description'>
  <br>
    <br>
  Price: <input type='text' name='price'>
  <button id="button1"> List your Bork! </button>
</form></h2>

</body>
</html>
