<html>

<head>
  <link rel="stylesheet" type="text/css" href="requests.css">
</head>

<body>

  <div id="navbar" >
  <a href="/spaces"> Home | </a>
  <a href="/new" > Create your Bork | </a>
  <a href="/requests">Requests</a>
  </div>

<!-- <div id="navbar" >
  <a href="/spaces"> Home | </a>
  <a href="/spaces/new"> Create your Bork </a>
</div> -->


<div id="headline"> Requests & Requested </div>



</body>
</html>
