<html>

<head>
<link rel="stylesheet" type="text/css" href="sign_up.css">
</head>

<body>


<div id="navbar" >
<a href="/spaces"> Home | </a>
<a href="/new" > Create your Bork | </a>
<a href="/requests">Requests</a>
</div>


<h2>  Enter your personal details to create an account: </h2>

<form action="/users" method="post">
  <input type="email" name="email" />
  <input type="password" name="password" />
  <input type="submit" value="Submit" />


</body>
</form>
