<h2><form action='/spaces' method='post'>
  Title: <input type='text' name='title'>
  Description: <input type='text' name='description'>
  Price: <input type='text' name='price'>
  <button id="button1"> List your Bork! </button>
</form></h2>
