#headline {
  font-size: 75px;
  text-align: center;
  font-family: courier;
  color: rgb(0,0,33);
}

#title_output {
  font-weight: bold;
  background-color: LightSteelBlue;
  padding: 10px;
  font-color: black;
}

#description_output {
background-color: AliceBlue;
}

#button1 {
  border-style: dotted;
  border-width: 2px;
  background-color: rgb(0,0,33);
  color: white;
  font-size: 20px;
}

#navbar {
  float: right;
}

.content {
  position:fixed;
  bottom: 10px
    /* min-height: calc(100vh - 120px);
    /* 80px header + 40px footer = 120px  */ */
}

footer {
  height: 25px
  colour: rgb(0,0,33)
  font-size: 20px;
}

a:link, a:visited {
  color: pink;
  text-decoration: underline;
}
